* {
   box-sizing: 0;
   font-family: sans-serif;
}

html,
body {
   height: 100%;
}

body {
   background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(245, 66, 0, 0.6) 0%,
      rgba(248, 0, 255, 0.6) 100%
   );
   display: grid;
   place-content: center;
}

.heart {
   background: yellow;
   height: 600px;
   width: 600px;
   border-radius: 10px;
   position: relative;
}

.half {
   width: 350px;
   height: 500px;
   background: red;
   border-radius: 250px 250px 0 20px;
   position: absolute;
}

.first-half {
   top: 50%;
   left: 50%;
   transform: translate(-65%, -60%) rotate(-45deg);
   border-bottom-right-radius: 30px;
}

.second-half {
   top: 50%;
   left: 50%;
   transform: translate(-34.6%, -60%) rotate(45deg);
   border-bottom-left-radius: 30px;
}
